@charset "UTF-8";
@font-face {
  font-family: "Montserrat regular", "Montserrat medium", "Lato regular", "Lato bold";
  src: url("fontsMontserrat regular.ttf");
  src: url("fontsMontserrat medium.otf");
  src: url("fontsLato regular.ttf");
  src: url("fontsLato bold.ttf"); }
@font-face {
  font-family: 'Lato bold';
  src: url("fonts/Lato bold.eot");
  src: local("☺"), url("fonts/Lato bold.woff") format("woff"), url("fonts/Lato bold.ttf") format("truetype"), url("fonts/Lato bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato regular';
  src: url("fonts/Lato regular.eot");
  src: local("☺"), url("fonts/Lato regular.woff") format("woff"), url("fonts/Lato regular.ttf") format("truetype"), url("fonts/Lato regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat medium';
  src: url("fonts/Montserrat medium.eot");
  src: local("☺"), url("fonts/Montserrat medium.woff") format("woff"), url("fonts/Montserrat medium.ttf") format("truetype"), url("fonts/Montserrat medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat regular';
  src: url("fonts/Montserrat regular.eot");
  src: local("☺"), url("fonts/Montserrat regular.woff") format("woff"), url("fonts/Montserrat regular.ttf") format("truetype"), url("fonts/Montserrat regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  width: 100%;
  margin: auto;
  perspective: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  font-family: "Montserrat medium"; }
  body button {
    cursor: pointer; }
  body a {
    text-decoration: none;
    color: #717171; }
    body a:active, body a:hover {
      text-decoration: none;
      color: #717171; }

.menu__bg {
  width: 100vw;
  height: 80px;
  margin-left: 0;
  background-color: #605f5a8c;
  position: absolute;
  z-index: 0; }

.ham__logo {
  position: relative;
  z-index: 2;
  cursor: pointer; }
  .ham__logo img {
    margin-top: 15px;
    width: 45px; }
  .ham__logo span {
    margin-top: -15px; }
    .ham__logo span:nth-of-type(1) {
      position: absolute;
      top: 37px;
      left: 10px;
      font-size: 30px;
      font-weight: 900; }
    .ham__logo span:nth-of-type(2) {
      position: absolute;
      top: 48px;
      left: 50px;
      font-size: 20px; }
    .ham__logo span:nth-of-type(3) {
      position: absolute;
      top: 48px;
      left: 85px;
      font-size: 20px;
      color: #18cfab;
      font-weight: 700; }

header {
  background: url(img/Sections_background/background_header.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
  height: 850px;
  width: 100%;
  color: white; }
  header .header__menu {
    margin: auto;
    width: 1160px;
    text-align: center;
    z-index: 1; }
  header p {
    text-align: center; }
    header p:nth-of-type(1) {
      text-transform: uppercase;
      margin-top: 150px;
      font-size: 30px; }
      header p:nth-of-type(1) span {
        color: #18cfab; }
    header p:nth-of-type(2) {
      text-transform: uppercase;
      margin-top: -20px;
      font-size: 70px;
      font-weight: 900; }
    header p:nth-of-type(3) {
      margin-top: -60px;
      font-size: 29px;
      font-weight: 300;
      color: #d4d4d4; }
  header button {
    width: 200px;
    height: 80px;
    border: #ffffff solid 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-right: 20px;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background: #18cfab;
    border-bottom: none;
    border-left: none;
    border-right: none; }
    header button:hover {
      background: #00cbf6; }
  header .container__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  header ul {
    list-style: none;
    z-index: 2; }
    header ul li {
      margin-right: 20px;
      display: inline;
      text-transform: uppercase;
      font-family: "Montserrat medium";
      font-weight: 900;
      font-size: 12px;
      cursor: pointer; }
      header ul li:hover {
        color: #18cfab; }
  header li:last-of-type {
    width: 20px;
    height: 20px; }
    header li:last-of-type img {
      margin-top: 10px;
      width: 20px;
      height: 20px; }

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: 25%; }
  .option p {
    text-transform: uppercase;
    font-family: "Montserrat medium";
    font-weight: 700;
    font-size: 16px;
    cursor: pointer; }
  .option div {
    width: 25vw;
    height: 20vw;
    text-align: center; }
  .option img {
    margin-top: 70px;
    cursor: pointer; }
  .option .option__theme {
    background: #1c2a33;
    color: #18cfab;
    border-top: #18cfab solid 7px; }
  .option .option__customize {
    background: #18cfab;
    color: #ffffff;
    border-top: #ffffff solid 7px; }
    .option .option__customize p {
      margin-top: 37px; }
  .option .option__support {
    background: #1c2a33;
    color: #18cfab;
    border-top: #18cfab solid 7px; }
  .option .option__responsive {
    background: #18cfab;
    color: #ffffff;
    border-top: #ffffff solid 7px; }
    .option .option__responsive p {
      margin-top: 35px; }

.services {
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .services .services__lineup {
    width: 70px;
    border-bottom: #18cfab solid 1px;
    margin-left: -15px; }
  .services .services__linedown {
    margin-top: -14px;
    border-top: #18cfab solid 1px;
    width: 70px;
    margin-right: -15px; }
  .services ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 1160px; }
    .services ul li {
      display: inline-block;
      width: 16.6%;
      height: 40px;
      border: #b9b6b6 solid 1px;
      color: #949292;
      cursor: pointer;
      text-align: center;
      padding-top: 25px;
      margin-left: -5px;
      margin-right: 0;
      background-color: #f8fcfe;
      position: relative; }
      .services ul li:nth-of-type(1) {
        margin-left: 0; }
      .services ul li span {
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: #18cfab solid 1px;
        border-right: #18cfab solid 1px;
        background-color: #18cfab;
        position: absolute;
        top: 58px;
        left: 92px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg); }
      .services ul li .hidden {
        display: none; }
    .services ul .active {
      background-color: #18cfab;
      color: #ffffff;
      border-color: #18cfab; }
  .services .services__content {
    min-height: 200px; }
    .services .services__content ul {
      list-style: none; }
      .services .services__content ul li {
        width: 1160px;
        height: 135px;
        background-color: #ffffff;
        border: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        text-align: left; }
        .services .services__content ul li img {
          width: 191px;
          height: 135px;
          display: block; }
    .services .services__content img {
      width: 191px;
      height: 140px;
      margin-top: 20px;
      margin-right: 25px; }
    .services .services__content .hidden {
      display: none; }

.instal {
  background: url(img/Sections_background/section_2.jpg);
  height: 470px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: -200px -350px;
  text-align: center;
  margin-top: 50px; }
  .instal .instal__container {
    background-color: #1f1e1c8c;
    height: 470px;
    width: 100%; }
  .instal p {
    width: 1160px;
    z-index: 3;
    margin: auto; }
    .instal p:nth-of-type(1) {
      text-transform: uppercase;
      padding-top: 70px;
      color: #18cfab;
      font-size: 40px;
      font-weight: 700; }
    .instal p:nth-of-type(2) {
      margin-top: 20px;
      color: #d4d4d4; }
  .instal button {
    width: 160px;
    height: 60px;
    margin-top: 90px;
    font-size: 14px;
    border: #ffffff solid 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #18cfab;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: none;
    border-left: none;
    border-right: none; }
    .instal button:hover {
      background: #00cbf6; }

.work__bg {
  margin-top: -35px;
  background-color: #f8fcfe;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 100px;
  border-bottom: #a09b9b solid 1px; }

.work {
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .work .work__lineup {
    width: 70px;
    border-bottom: #18cfab solid 1px;
    margin-left: -15px; }
  .work .work__linedown {
    margin-top: -14px;
    border-top: #18cfab solid 1px;
    width: 70px;
    margin-right: -15px; }
  .work ul {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -40px; }
    .work ul li {
      display: inline-block;
      width: 195px;
      height: 40px;
      border: gray solid 1px;
      color: #717171;
      cursor: pointer;
      text-align: center;
      padding-top: 25px;
      margin-left: -1px;
      margin-right: 0;
      background-color: #ffffff; }
      .work ul li:hover {
        border-top: #18cfab solid 3px;
        margin-top: -2px; }
      .work ul li:nth-of-type(1) {
        margin-left: 0;
        width: 100px; }
    .work ul .active {
      background-color: #18cfab;
      color: #ffffff;
      border-color: #18cfab; }
  .work .work__example {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .work .work__example img {
      display: none; }
    .work .work__example .active {
      display: block; }
  .work .work__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .work .work__container button {
      width: 200px;
      height: 80px;
      border: #18cfab solid 1px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      margin-top: 100px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      background: #18cfab;
      display: flex;
      justify-content: center;
      align-items: center; }
      .work .work__container button span {
        font-size: 25px;
        font-weight: 900; }
        .work .work__container button span:nth-of-type(2) {
          font-size: 16px;
          margin-left: 15px;
          margin-top: 2px; }

.news {
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .news .news__lineup {
    width: 70px;
    border-bottom: #18cfab solid 1px;
    margin-left: -15px; }
  .news .news__linedown {
    margin-top: -14px;
    border-top: #18cfab solid 1px;
    width: 70px;
    margin-right: -15px; }
  .news .news__daily {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .news .news__daily div {
      margin-bottom: 30px;
      background-color: #f8fcfe;
      text-align: center;
      cursor: pointer; }
      .news .news__daily div p {
        font-size: 13px; }
        .news .news__daily div p:nth-of-type(1) {
          font-size: 16px; }
      .news .news__daily div span {
        border-left: solid darkgray 2px;
        padding-left: 10px;
        margin-left: 5px; }
      .news .news__daily div p:first-of-type {
        font-weight: 700; }
        .news .news__daily div p:first-of-type:hover {
          color: #18cfab; }
    .news .news__daily img {
      width: 250px;
      height: 210px; }
      .news .news__daily img:hover {
        color: #18cfab; }

.sayabout__bg {
  background: url(img/Sections_background/section_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  height: 910px;
  width: 100%;
  margin-top: 50px;
  background-color: #f8fcfe;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 100px;
  border-bottom: #a09b9b solid 1px; }

.sayabout {
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 60px; }
  .sayabout .sayabout__lineup {
    width: 70px;
    border-bottom: #18cfab solid 1px;
    margin-left: -15px; }
  .sayabout .sayabout__linedown {
    margin-top: -14px;
    border-top: #18cfab solid 1px;
    width: 70px;
    margin-right: -15px; }
  .sayabout .sayabout__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
    .sayabout .sayabout__container p:nth-of-type(1) {
      font-size: 16px;
      font-weight: 300;
      color: #999999; }
    .sayabout .sayabout__container p:nth-of-type(2) {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      color: #18cfab;
      margin-top: 40px; }
    .sayabout .sayabout__container p:nth-of-type(3) {
      color: #999999;
      font-size: 14px;
      font-weight: 300; }
  .sayabout .sayabout__coma {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px; }
  .sayabout .sayabout__roundpicturebg {
    margin-top: 40px;
    width: 190px;
    height: 190px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18cfaa88;
    align-self: center; }
    .sayabout .sayabout__roundpicturebg .sayabout__roundpicture {
      width: 160px;
      height: 160px;
      overflow: hidden;
      border: #18cfab solid 4px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px; }
      .sayabout .sayabout__roundpicturebg .sayabout__roundpicture img {
        margin-top: -3px;
        margin-left: -3px;
        width: 167px;
        height: 167px; }
  .sayabout .sayabout__slider {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 900px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .sayabout .sayabout__slider .sayabout__overflow {
      width: 800px;
      height: 140px;
      display: flex;
      overflow: hidden;
      justify-content: space-around;
      align-items: center; }
    .sayabout .sayabout__slider .container {
      position: relative;
      width: 760px;
      height: 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .sayabout .sayabout__slider .container div {
        position: absolute;
        width: 115px;
        height: 115px;
        border-radius: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #18cfaa88;
        align-self: center;
        transition: all ease 1s;
        -webkit-border-radius: 67px;
        -moz-border-radius: 67px;
        -ms-border-radius: 67px;
        -o-border-radius: 67px; }
        .sayabout .sayabout__slider .container div:nth-of-type(2) {
          left: 0px; }
        .sayabout .sayabout__slider .container div:nth-of-type(3) {
          left: 215px; }
        .sayabout .sayabout__slider .container div:nth-of-type(4) {
          left: 430px; }
        .sayabout .sayabout__slider .container div:nth-of-type(5) {
          left: 645px; }
      .sayabout .sayabout__slider .container img {
        width: 100px;
        height: 100px;
        border: #18cfab solid 3px;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px; }
        .sayabout .sayabout__slider .container img:hover {
          transition: all ease 1s;
          width: 130px;
          height: 130px;
          border-radius: 70px;
          -webkit-border-radius: 70px;
          -moz-border-radius: 70px;
          -ms-border-radius: 70px;
          -o-border-radius: 70px; }
    .sayabout .sayabout__slider button {
      width: 40px;
      height: 40px;
      background: none;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border: #ffffff solid 1px;
      cursor: pointer; }
      .sayabout .sayabout__slider button:hover {
        background-color: #18cfab; }
      .sayabout .sayabout__slider button span {
        display: block;
        width: 10px;
        height: 10px;
        border-top: #ffffff solid 1px;
        border-right: #ffffff solid 1px;
        transform: rotate(225deg);
        margin-left: 7px;
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg); }
      .sayabout .sayabout__slider button:nth-of-type(2) span {
        transform: rotate(45deg);
        margin-left: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg); }

.galery {
  width: 1160px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #717171; }
  .galery .galery__lineup {
    width: 70px;
    border-bottom: #18cfab solid 1px;
    margin-left: -15px; }
  .galery .galery__linedown {
    margin-top: -14px;
    border-top: #18cfab solid 1px;
    width: 70px;
    margin-right: -15px; }
  .galery .galery__example {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .galery .galery__example div {
      width: 360px;
      display: flex;
      flex-direction: column; }
      .galery .galery__example div:nth-child(2) {
        margin-top: -15px; }
      .galery .galery__example div:nth-of-type(3) :first-child {
        display: flex;
        flex-direction: row; }
        .galery .galery__example div:nth-of-type(3) :first-child img {
          width: 165px;
          margin-right: 10px; }
      .galery .galery__example div:nth-of-type(3) :nth-child(2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .galery .galery__example div:nth-of-type(3) :nth-child(2) img {
          width: 110px;
          margin-right: 5px;
          margin-bottom: 5px; }
      .galery .galery__example div img {
        width: 340px;
        margin-bottom: 20px; }
  .galery button {
    width: 200px;
    height: 80px;
    border: #18cfab solid 1px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-top: 100px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center; }
    .galery button span {
      font-size: 25px;
      font-weight: 900; }
      .galery button span:nth-of-type(2) {
        font-size: 16px;
        margin-left: 15px;
        margin-top: 2px; }

footer {
  margin-top: 50px;
  height: 60px;
  background-color: #22353f;
  text-align: center;
  color: #ffffff;
  padding-top: 40px; }

/*# sourceMappingURL=index.css.map */
